<!DOCTYPE html>
<html lang="en">
<head>
    <!-- font icons -->
    <link rel="stylesheet" href="public/vendors/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Creative Studio main styles -->
	<link rel="stylesheet" href="public/creative-studio.css">

    <meta charset = "UTF-8">
    <title>Your Kainos story starts here</title>
    <link type="image/x-icon" href="https://cdn.phenompeople.com/CareerConnectResources/pp/KAINGB/en_gb/desktop/assets/images/favicon.ico" rel="icon" data-ph-id="ph-page-element-page24-SpBhhG">
    <link rel="preload" as="image" importance="high" href="https://cdn.phenompeople.com/CareerConnectResources/pp/KAINGB/images/cropChild-SoQGk-1653562074041.png" id="ph_image_preload">

    <!--Mobile optimisation-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <!-- Page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-lg navbar-dark" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="public/images/kainos_logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Jobs</a>
                    </li>
                    <li>
                        <a class="nav-link" href="academy">Academy</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Training Courses</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">Career Lattice</a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Page Navigation -->

    <!-- Page Header -->
    <header class="header-2">
        <div class="overlay">
            <h1 class="title">Kainos Academy</h1>
            <h6 class="subtitle">Getting you to where you want to be</h6>
            <div class="buttons text-center">
                <a href="#contact" class="btn btn-outline-light rounded w-lg btn-lg my-1">Contact Us</a>
                <a href="/login.html" class="btn btn-outline-light rounded w-lg btn-lg my-1">Login</a>
            </div>              
        </div>      
    </header>
    <!-- End Of Page Header -->

    <!-- Box -->
    <div class="box text-center">
        <div class="box-item">
            <i class="ti-vector"></i>
            <h6 class="box-title">Programming</h6>
        </div>
        <div class="box-item">
            <i class="ti-filter"></i>
            <h6 class="box-title">Databases</h6>
        </div>
        <div class="box-item">
            <i class="ti-mobile"></i>
            <h6 class="box-title">Web Development</h6>
        </div>
    </div>
    <!-- End of Box -->

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-lg-4">
                    <img src="public/images/about.jpg" class="w-100 img-thumbnail mb-3">
                </div>
                <div class="col-md-7 col-lg-8">
                    <h6 class="section-subtitle mb-0">About us</h6>
                    <h6 class="section-title mb-3">Welcome to the Kainos Academy</h6>
                    <p>We created the Kainos Academy in 2011 with two main goals: firstly, to tackle the tech industry’s digital skills gap and secondly, to ensure that once people joined Kainos, they can get to where they want to be.</p>
                    <p>Since then, it has grown to become an industry leading training and career development programme. With over £1 million spent each year, our learning and development initiatives break the mould to provide new routes into tech. The only prerequisites? A keenness to learn, and a desire to change the world.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About Section -->

    <!-- About Section with bg -->
    <section class="has-bg-img py-md">
        <div class="container text-center">
            <h6 class="section-title mb-6">The Engineering Academy is an award-winning training programme specifically designed to provide early career talent with the skills they will need to succeed on projects in Kainos.</h6>
            <h6 class="section-subtitle">These skills include</h6>
            <div class="widget mb-4">
                <div class="widget-item">
                    <i class="ti-notepad"></i>
                    <h4>Teamwork</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-layout"></i>
                    <h4>Technical</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-filter"></i>
                    <h4>Business</h4>
                </div>
                <div class="widget-item">
                    <i class="ti-thumb-up"></i>
                    <h4>Professional</h4>
                </div>
            </div>
        </div>
    </section>
    <!-- End Of About Section -->



    <!-- Portfolio section -->
    <section id="portfolio">
        <div class="container text-center">
            <h6 class="section-subtitle">One of the most important outcomes of the academy experience is the development of social relationships between you and the other talent in your cohort, so you will be given the opportunity develop these relationships throughout the academy.</h6>
            <h6 class="section-title mb-5">From beginner to game-changer</h6>
            <div class="row">
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="public/images/VIRTUAL.png.webp">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Virtual work experience</h5>
                            </div>  
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="public/images/codecamp.png.webp">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Code Camp</h5>
                            </div>                              
                        </div>
                    </div>                  
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="public/images/earnasyou learn.png.webp">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Earn as you Learn</h5>
                            </div>  
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="public/images/graduate.png.webp">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Gradaute Scheme</h5>
                            </div>                              
                        </div>
                    </div>                  
                </div>
                <div class="col-sm-4">
                    <div class="img-wrapper">
                        <img src="public/images/placement.png.webp">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Placement scheme</h5>
                            </div>  
                        </div>
                    </div>
                    <div class="img-wrapper">
                        <img src="public/images/Master.png.webp">
                        <div class="overlay">
                            <div class="overlay-infos">
                                <h5>Master Accomplish Progress</h5>
                            </div>                              
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
    </section>
    <!-- End of portfolio section -->



    <!-- Fatcs Section -->
    <section class="has-bg-img bg-img-2">
        <div class="container text-center">
            <h6 class="section-subtitle">We Are Awesome</h6>
                <div class="widget-2">
                    <div class="widget-item">
                        <i class="ti-cup"></i>
                        <h6 class="title">Achieve</h6>
                        <div class="subtitle">your goals</div>
                    </div>
                    <div class="widget-item">
                        <i class="ti-face-smile"></i>
                        <h6 class="title">Our</h6>
                        <div class="subtitle">Culture</div>
                    </div>
                    <div class="widget-item">
                        <i class="ti-blackboard"></i>
                        <h6 class="title">Winning</h6>
                        <div class="subtitle">team</div>
                    </div>
                    <div class="widget-item">
                        <i class="ti-comments-smiley"></i>
                        <h6 class="title">Our</h6>
                        <div class="subtitle">Academy</div>
                    </div>
                </div>
        </div>
    </section>

    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="contact-card">
                <div class="infos">
                    <h6 class="section-subtitle">Get Here</h6>
                    <h6 class="section-title mb-4">Contact Us</h6>

                    <div class="item">
                        <i class="ti-location-pin"></i>
                        <div class="">
                            <h5>Belfast</h5>
                            <p>4-6 Upper Cresent, Belfast BT7 1NT</p>
                        </div>                          
                    </div>
                    <div class="item">
                        <i class="ti-mobile"></i>
                        <div>
                            <h5>Phone Number</h5>
                            <p>(028) 9057-1100</p>
                        </div>                          
                    </div>
                    <div class="item">
                        <i class="ti-email"></i>
                        <div class="mb-0">
                            <h5>Email Address</h5>
                            <p>info@kainos.com</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ti-world"></i>
                        <div class="mb-0">
                            <h5>https://www.kainos.com</h5>
                            
                        </div>
                    </div>
                </div>
                <div class="form">
                    <h6 class="section-subtitle">Available 24/7</h6>
                    <h6 class="section-title mb-4">Get In Touch</h6>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <textarea name="contact-message" id="" cols="30" rows="7" class="form-control form-control-lg" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg mt-3">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->

    

    <!-- core  -->
    <script src="public/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="public/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="public/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Creative Studio js -->
    <script src="public/js/creative-studio.js"></script>

</body>
</html>
