<!DOCTYPE html>
<html lang="en">
<head>
    <!-- font icons -->
    <link rel="stylesheet" href="public/vendors/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Creative Studio main styles -->
	<link rel="stylesheet" href="public/creative-studio.css">

    <meta charset = "UTF-8">
    <title>Your Kainos story starts here</title>
    <link type="image/x-icon" href="https://cdn.phenompeople.com/CareerConnectResources/pp/KAINGB/en_gb/desktop/assets/images/favicon.ico" rel="icon" data-ph-id="ph-page-element-page24-SpBhhG">
    <link rel="preload" as="image" importance="high" href="https://cdn.phenompeople.com/CareerConnectResources/pp/KAINGB/images/cropChild-SoQGk-1653562074041.png" id="ph_image_preload">

    <!--Mobile optimisation-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <!-- Page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-lg navbar-light" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="public/images/kainos_logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="nav-link" href="job-roles">Jobs</a>
                    </li>
                    <li>
                        <a class="nav-link" href="academy">Academy</a>
                    </li>
                    <li>
                        <a class="nav-link" href="https://kainossoftwareltd.sharepoint.com/:u:/r/people/SitePages/Career-Lattice---Engineering.aspx?csf=1&web=1&e=PvLWif">Career Lattice</a>
                    </li>

                   
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Page Navigation -->

    <!-- Page Header -->
    <header class="header">
        <div class="overlay">
            <h1 class="title">Kainos</h1>
            <h6 class="subtitle">Building a better world begins with you</h6>
            <div class="buttons text-center">
                <a href="#contact" class="btn btn-outline-light rounded w-lg btn-lg my-1">Contact Us</a>
                <a href="login" class="btn btn-outline-light rounded w-lg btn-lg my-1">Login</a>
            </div>              
        </div>      
    </header>
    <!-- End Of Page Header -->

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-lg-4">
                    <img src="public/images/main-second.png" class="w-100 img-thumbnail mb-3">
                </div>
                <div class="col-md-7 col-lg-8">
                    <h6 class="section-subtitle mb-0">Let's do amazing things together</h6>
                    <p>With us, you'll work on projects that make a real difference, build a better world through technology, and leave a lasting positive impact and change the way our customers work for the better.</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-lg-4">
                    <img src="public/images/main-third.png" class="w-100 img-thumbnail mb-3">
                </div>
                <div class="col-md-7 col-lg-8">
                    <h6 class="section-subtitle mb-0">Build a career for life</h6>
                    <p>Most importantly, at Kainos you build a career for life. Over half of our executive team started as graduates, including our CEO, Brendan, who joined as a trainee software engineer. Once you're here, there's really no limit to where you can go.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About Section -->

    <!-- About Section with bg -->
    <section class="has-bg-img py-md">
        <div class="container text-center">
            <h6 class="section-title mb-6">Ready to change the world with us?</h6>
            <h6 class="section-subtitle">When it comes to our work, our ethos is simple: we empower people to think big, be bold and do great things. We're at the forefront of transformation, and our projects change the world. From evolving healthcare delivery for the benefit of all, partnering with Workday customers to launch and safeguard their systems, or revolutionising communications for citizens, you can do it all here. Watch our video to learn more about our mission and how you can help us to achieve it.</h6>
        </div>
    </section>
    <!-- End Of About Section -->
    <!-- Service Section -->
    <section id="service">
        <div class="container">
            <h5 class="section-title text-center mb-6">Choose your passion</h5> 
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-filter text-primary"></i></h2>
                            <h6 class="card-title">Business Development And Marketing</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-paint-roller text-primary"></i></h2>
                            <h6 class="card-title">Commercial And Financial Management</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-ruler-pencil text-primary"></i></h2>
                            <h6 class="card-title">Data & Artificial Intelligence</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-layers text-primary"></i></h2>
                            <h6 class="card-title">Delivery Management</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-bolt text-primary"></i></h2>
                            <h6 class="card-title">Engineering</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-palette text-primary"></i></h2>
                            <h6 class="card-title">Operations</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-stats-up text-primary"></i></h2>
                            <h6 class="card-title">People</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="mb-4"><i class="ti-location-arrow text-primary"></i></h2>
                            <h6 class="card-title">Workday</h6>
                        </div>
                    </div>
                </div>

            </div>  
        </div>
    </section>
    <!-- End of Service Section -->


    <!-- Facts Section -->
    <section class="has-bg-img bg-img-2">
        <div class="container text-center">
            <h6 class="section-subtitle">We Are Awesome</h6>
                <div class="widget-2">
                    <div class="widget-item">
                        <i class="ti-cup"></i>
                        <h6 class="title">Achieve</h6>
                        <div class="subtitle">your goals</div>
                    </div>
                    <div class="widget-item">
                        <i class="ti-face-smile"></i>
                        <h6 class="title">Our</h6>
                        <div class="subtitle">Culture</div>
                    </div>
                    <div class="widget-item">
                        <i class="ti-blackboard"></i>
                        <h6 class="title">Winning</h6>
                        <div class="subtitle">team</div>
                    </div>
                    <div class="widget-item">
                        <i class="ti-comments-smiley"></i>
                        <h6 class="title">Our</h6>
                        <div class="subtitle">Academy</div>
                    </div>
                </div>
        </div>
    </section>

    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="contact-card">
                <div class="infos">
                    <h6 class="section-subtitle">Get Here</h6>
                    <h6 class="section-title mb-4">Contact Us</h6>

                    <div class="item">
                        <i class="ti-location-pin"></i>
                        <div class="">
                            <h5>Belfast</h5>
                            <p>4-6 Upper Cresent, Belfast BT7 1NT</p>
                        </div>                          
                    </div>
                    <div class="item">
                        <i class="ti-mobile"></i>
                        <div>
                            <h5>Phone Number</h5>
                            <p>(028) 9057-1100</p>
                        </div>                          
                    </div>
                    <div class="item">
                        <i class="ti-email"></i>
                        <div class="mb-0">
                            <h5>Email Address</h5>
                            <p>info@kainos.com</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ti-world"></i>
                        <div class="mb-0">
                            <h5>https://www.kainos.com</h5>
                            
                        </div>
                    </div>
                </div>
                <div class="form">
                    <h6 class="section-subtitle">Available 24/7</h6>
                    <h6 class="section-title mb-4">Get In Touch</h6>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <textarea name="contact-message" id="" cols="30" rows="7" class="form-control form-control-lg" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg mt-3">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section -->

    

    <!-- core  -->
    <script src="public/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="public/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="public/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Creative Studio js -->
    <script src="public/js/creative-studio.js"></script>

</body>
</html>
