<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{job.JobRoleName}} Specification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <header class="bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{job.jobRoleName}}</h1>
                </div>
            </div>
        </div>
    </header>
    <main class="container mt-4">
        <section id="product" class="mt-4">
            {% if job %}
                <h2>specification</h2>
                {{ job.specifications }}

                <!-- <h2>Price</h2>
                {{ product.price }} -->
            {% else %}
                Could Not find job specification
            {% endif %}
        </section>
    </main>  
</body>
</html>